@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  color: black;
  font-family: "Poppins";
}

.navbar {
  align-items: baseline;
  border-bottom: 1px solid lightgray;
  display: flex;
  margin: auto;
  max-width: 1000px;
  padding: 10px;
}

.navbar h1 {
  font-size: 30px;
  margin: 0;
  margin-right: auto;
}

.navbar a {
  font-size: 20px;
  margin-left: 20px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.home {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  max-width: 1000px;
}

.home img {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-right: 50px;
  object-fit: cover;
}

.home h1 {
  font-size: 50px;
  margin: 5px;
  text-align: center;
}

.home h2 {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.home h3 {
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.home .buttons {
  display: flex;
  justify-content: center;
}

.home .buttons button {
  border-radius: 50px;
  margin: 20px 10px;
  padding: 10px 20px;
}

.home .buttons button:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.home .buttons img {
  height: 40px;
  width: 40px;
  margin: 0 10px;
}

.resume {
  display: flex;
  margin: auto;
  margin-top: 100px;
  max-width: 1000px;
}

.resume .leftColumn {
  max-width: 400px;
  width: 100%;
}

.resume .leftColumn h1 {
  font-size: 50px;
  margin: 0;
  margin-right: auto;
}

.resume .leftColumn button {
  border-radius: 50px;
  margin: 20px 10px;
  padding: 10px 20px;
}

.resume .leftColumn button:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.resume .rightColumn {
  max-width: 600px;
  width: 100%;
}

.resume .rightColumn button {
  align-items: center;
  background-color: transparent;
  border-top: 1px solid lightgrey;
  border-right: none;
  border-bottom: none;
  border-left: none;
  display: flex;
  font-size: 20px;
  height: 80px;
  width: 100%;
  padding: 0;
}

.resume .rightColumn h1 {
  font-size: 30px;
  margin: 0;
  margin-right: auto;
}

.resume .rightColumn h3 {
  margin: 0;
}

.resume .rightColumn .enableBottomBorder {
  border-bottom: 1px solid lightgrey;
}
